@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/*FONTES*/

@font-face {
    font-family: 'Passion';
    src: url('../fontes/PassionOne-Bold.ttf') format(truetype), url('../fontes/PassionOne-Regular.ttf') format(truetype), url('../fontes/PassionOne-Black.ttf') format(truetype);
}

@font-face {
    font-family: 'Sriracha';
    src: url('../fontes/Sriracha.ttf.woff') format(truetype);
}

body {
    height: 98vh;
    background-color: white;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px;
}

header h1 {
    font-family:  'Passion';
    font-variant: small-caps;
    font-weight: normal;
    font-size: 10vh;
}

header p {
    font: normal 1em Arial;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

/*MAIN*/


div {
    padding: 40px 0px;
}

article {
    padding: 5vh;
}

article.parte-branca {
    padding-left: 30px;
}

p {
    font:normal 3.5vw 'Sriracha';
    text-align: left;
}

div#paralax01 {
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.521);
   
}

div#paralax02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.521);
}

article.texto {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    margin-left: 30px;
    padding: 20px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

footer p {
    text-align: center;
    font: normal 1em Arial;
}

footer a {
    text-decoration: none;
    color: white;
}

